<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <label class="bg-light"><h4>商品詳細</h4></label>
      <div><%= attachment_image_tag(@item, :image, :fill, 200, 250, fallback:"no_image.jpg") %></div>
    </div>
    <div class="col-lg-8 offset-lg-1">
      <table class="table table-borderless" style="display: flex; justify-content: center;">
        <tr>
          <th>商品名</th>
          <td><%= @item.name %></td>
        </tr>
        <tr>
          <th>商品説明</th>
          <td><%= @item.introduction %></td>
        </tr>
        <tr>
          <th>ジャンル</th>
          <td><%= @item.genre.name %></td>
        </tr>
        <tr>
          <th>税込価格</th>
          <td><%= @item.price %></td>
        </tr>
        <tr>
          <th>販売ステータス</th>
          <% if @item.is_active == true %>
          <td><label class="text-success"><strong>販売中</strong></label></td>
          <% else %>
          <td><label class="text-secondary"><strong>販売停止中</strong></label></td>
          <% end %>
        </tr>
      </table>
      <div style="display: flex; justify-content: center;"><%= link_to "編集する", edit_admin_item_path(@item.id), class:"btn btn-success" %></div>
    </div>
  </div>
</div>

