

<h4>新規会員登録</h4>

<%= form_with model: resource, url: customer_registration_path, local: true do |f| %>
  <%= render "customer/shared/error_messages", resource: resource %>
  <div class="row">
    <div class="col-sm-3">
      <%= f.label :"名前" %>
    </div>
    <div class="col-sm-3">
      (姓)　<%= f.text_field :last_name, autofocus: true, :placeholder => "令和" %>
    </div>
    <div class="col-sm-3">
      (名)　<%= f.text_field :first_name, autofocus: true, :placeholder => "道子" %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <%= f.label :"フリガナ" %>
    </div>
    <div class="col-sm-3">
      (セイ)<%= f.text_field :last_name_kana, autofocus: true, :placeholder => "レイワ" %>
    </div>
    <div class="col-sm-3">
    (メイ)<%= f.text_field :first_name_kana, autofocus: true, :placeholder => "ミチコ" %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3">
      <%= f.label :"メールアドレス" %>
    </div>
    <!--&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-->
    <div class="col-sm-6">
      <%= f.text_field :email, autofocus: true, autocomplete: "email", :placeholder => "sample@example" %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-3">
      <%= f.label :"郵便番号(ハイフンなし)" %>
    </div>
    <div class="col-sm-3">
      <%= f.text_field :postal_code, :placeholder => "0000000" %>
    </div>

  </div>
  <div class="row">
    <div class="col-sm-3">
      <%= f.label :"住所" %>
    </div>
    <div class="col-sm-3">
      <%= f.text_field :address, :size=>"60", :placeholder => "東京都渋谷区代々木神園町0-0" %>
    </div>

  </div>
  <div class="row">
    <div class="col-sm-3">
      <%= f.label :"電話番号(ハイフンなし)" %>
    </div>
    <div class="col-sm-3">
      <%= f.text_field :telephone_number, :placeholder => "0000000000" %>
    </div>
  </div>

  <div class="row">
  <!--<div class="field">-->
  <div class="col-sm-3">
    <%= f.label :"パスワード" %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> 文字以上)</em>
    <% end %><br />
    </div>
    <div class="col-sm-3">
    <%= f.password_field :password, autocomplete: "new-password" %>
    </div>
  <!--</div>-->
  </div>

  <div class="row">
    <div class="col-sm-3">
    <%= f.label :"パスワード(確認用)" %><br />
    </div>
    <div class="col-sm-3">
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-offset-4 col-sm-3">
      <%= f.submit "新規登録" %>
    </div>
  </div>
<% end %>

<%#= render "customer/shared/links" %>


<div class="row m-4">
<h4 class="bg-">すでに登録済みの方</h4>
</div>
<%= link_to "こちら", new_customer_session_path %> からログインしてください
