
  <div class="row">
      <%= render 'customer/items/genre_sidebar', genres: @genres %>
    <div class="col">
     <div style="position: relative; display:inline-block;">
       <img src="/assets/top.jpg" alt="">
       <strong class="bg-warning p-2 text-dark" style="position: absolute; top: 0; left: 0; max-width: 100%; max-height: 100%; padding: 30px; text-align: center; opacity: 0.70; ">
        <p class="main-visual-text">
        <p>ようこそ、ながのCAKEへ！</p>
        <p>このサイトは、ケーキ販売のECサイトになります。</p>
        <p>会員でない方も商品の閲覧はできますが、</p>
        <p>購入には会員登録が必要になります。</p>
        </p>
        </strong>
        </div>
        </div>
        </div>
        <div class="row">
          <div class="col-md-3 offset-md-3 p-5">
        <h2>新着商品</h2>
        </div>
        </div>
        <div class="row" style="display: flex; justify-content: center;">
        <tbody>
          <tr class="item-box">
            <% @items.each do |item| %>
              <td class="item">
                <%= link_to customer_item_path(item) do %>
                  <%= attachment_image_tag(item, :image, :fill, 150, 120, fallback:"no_image.jpg") %><br>
                  <%= item.name %><br>
                  ￥<%= item.price %>
                <% end %>
              </td>
            <% end %>
          </tr>
        </tbody>
             </div>
            <div class="row m-5">
        <div class="col-md-3 offset-md-6">
            <%= link_to '全ての商品を見る>', customer_items_path %>
        <!--商品一覧の部分テンプレートここに挿入？-->
        </div>
        </div>




