
<div class="container">
  <div class="row">
    <h2 class="col-sm-offset-2 col-sm-3">ログイン</h2>
  </div>

  <%= form_with model: @customer, url: customer_session_path, local: true do |f| %>
      <div class="row">
        <h4 class="col-sm-offset-1 col-sm-5 bg-light">
          会員の方はコチラからログイン
        </h4>
      </div>
      <div class="row">
          <div class="col-4 text-center">
              <%= f.label :メールアドレス %>
          </div>
          <div class="col-4">
              <%= f.email_field :email, :size=>"60", autofocus: true, autocomplete: "email" %>
          </div>
      </div>
      <div class="row">
          <div class="col-4 text-center">
              <%= f.label :パスワード %>
              </div>
              <div class="col-4">
              <%= f.password_field :password, :size=>"60", autocomplete: "current-password" %>
          </div>
      </div>

       <div class="row justify-content-center">
          <div class="col-4 justify-content-center ">
            <div class="actions">
                <%= f.submit "ログイン" %>
            </div>
          </div>
        </div>
  <% end %>
  <div class="row">
    <h4 class="col-sm-offset-1 col-sm-5 bg-light">
      会員登録がお済みでない方
    </h4>
  </div>
<div class="col-4">
   <%= link_to 'コチラ', new_customer_registration_path %>
   から会員登録してください
</div>


</div>