
<div class="container">
  <div class="row" style="display: flex; justify-content: center; ">
        <table class="col-10 table table-bordered">
      <tr>
        <th class="col-1 bg-light">会員ID</th>
        <th class="col-2 bg-light">氏名</th>
        <th class="col-1 bg-light">メールアドレス</th>
        <th class="col-2 bg-light">ステータス</th>
      </tr>
      <% @customer.each do |customer| %>
      <tr>
          <td>
                <%= customer.id %>
          </td>
          <td>
            <u><%= link_to customer.last_name + customer.first_name, admin_customer_path(customer),class: "text-dark" %></u>
          </td>
          <td>
                <%= customer.email %>
          </td>
          <td class="text-center">
                <%= customer.is_deleted ? '退会' : '有効' %>
          </td>
      </tr>
      <% end %>

    </table>
    </div>
    <!--<div class="row">-->
    <div class="col text-center" style="display: flex; justify-content: center; ">
      <%= paginate @customers %>
    <!--</div>-->
    </div>
</div>