<div class="container px-5 ">
  <div class="row m-3">
    <!--<div class="col-3">-->
      <h2 class="col-6 d-flex align-items-center">
        <%= @customer.last_name + @customer.first_name %>さんの登録情報
        </h2>
    <!--</div>-->
    </div>

    <table class="col-10 table table-bordered">
      <tr>
        <th class="col-2 bg-light">会員ID</th>
        <td>
          <%= @customer.id %>
        </td>
      </tr>
      <tr>
        <th class="col-2 bg-light">氏名</th>
          <td>
            <%= @customer.last_name + @customer.first_name %>
          </td>
      </tr>
      <tr>
        <th class="col-2 bg-light">カナ</th>
        <td>
          <%= @customer.last_name_kana + @customer.first_name_kana %>
        </td>
      </tr>
      <tr>
        <th class="col-2 bg-light">郵便番号</th>
        <td>
          <%= @customer.postal_code %>
        </td>
      </tr>
      <tr>
        <th class="col-2 bg-light">住所</th>
        <td>
          <%= @customer.address %>
        </td>
      </tr>
      <tr>
        <th class="col-2 bg-light">電話番号</th>
        <td>
          <%= @customer.telephone_number %>
        </td>
      </tr>
      <tr>
        <th class="col-2 bg-light">メールアドレス</th>
        <td>
          <%= @customer.email %>
        </td>
        </tr>
        <tr>
        <th class="col-2 bg-light">会員ステータス</th>
        <td>
          <% if @customer.is_deleted == true %>
          退会
          <% else %>
          有
          <% end %>
          <%#= @customer.is_deleted ? '退会' : '有効' %>
        </td>
      </tr>
    </table>

      <%= link_to '編集する', edit_admin_customer_path, class: "btn btn-success m-3" %>
      <%= link_to '注文履歴一覧を見る', admin_orders_path, class: "btn btn-primary m-3" %>



</div>