<!--yoshida-->
<!DOCTYPE html>
<html>
  <head>
    <title>WorkGithub</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


  </head>



  <body>
    <%= render 'layouts/header' %>
    <div class="container-fluid p-5" style="background-color: #e0ffff;" >

    <%= yield %>

    </div>
    <%= render 'layouts/footer' %>

  </body>
</html>
